body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

/* nav a {
  display: inline-block;
  margin: 1em;
} */

form {
  margin: 10px 20px;

}

.admin-sort{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
}

.inputGroup {
  display: flex;
  justify-content: space-around;
  width: 90%;
  align-items: center;
}

.logo {
  align-self: start;
  transform: translateY(-15px)
}

.inputGroup h5 {
  float: left;
  white-space: nowrap;
  padding-right: 10px;
}

.inputGroup input, .inputGroup textarea, {
  text-align: center;
}

.in-front, .pop-up {
  z-index: 3;
  width: 80%;
  border: 1px solid  black;
  margin: auto auto;
  padding-bottom: 10px;
  position: absolute;
  background: beige;
  left: 0;
  right: 0;
  transform: translateY(15px)
}

.errorMessage {
  color: red;
  background-color: beige;
  border: 1px solid black;
  border-radius: 5px;
}

.review-item {
  border: 1px solid black;
  border-radius: 5px;
  width: 60%;
  margin: 10px auto;
}

.pop-up {
  z-index: 4;
  color: rgb(121, 0, 0);
  padding: 10px;
}

button:disabled {
  color: grey;
}

/* .btn {
  margin: 5px;
} */

.card-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#order-qty {
  width: 60px;
  align-self: center;
  text-align: center;
}

input[type=number]
{
    transform: scale(1.25);
}

